html{
    box-sizing: border-box;   
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin:0;
    background-color:#E5E5E5;
}


/***************************DISCOUNT MESSAGE*************************************/
.screen-reader-only{
    display:none;
}

#discount-message{
    height:32px;
    background-color: #000000;    
    margin:0;  
    position:relative;
    text-align:center; 
    align-items: center;
}
#discount-message span{  
    /* margin-left:6.4%;   */ /*per schermo telefono*/
    margin-top:25%;
    margin-left:9.44881889763%; /*per chermo telefono*/
    color: #FFFFFF;  
    margin:0;
    height: 17px; 
}

#discount-message button{
position:absolute;
top:50%;
/* right:2.1875%; */
/* right:2.36625%; */
transform: translateY(-50%);
appearance:none;
border:0;
background-color: transparent;
margin-left:35%;
}

#discount-message button svg{
    width:25px;
    color: #fff;
    
}

/*****************HEADER*****************************/

header{
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;    
    height: 97px;  
}

header .visual-icon, #written-icon {
    display:flex;
    gap:31px;
    /* padding:7.46666666%; */
    margin-left: 7.46666666%;    
}



/* header #written-icon{
    color:#000000;
} */

header #first-icon{
    margin-left: 7.466666%;
}

.screen-reader-only{
    display: none;
}

header #logo{
    /* border-style:dashed;   */
    /* padding:20.44329896907%;   */
    margin:0 auto; 
    padding:20px 20px;
    border:#000000 dashed 3px;
   
}

/***********MEDIA*****************************/

 @media(max-width:1023px){

    .sr-card-img{
        flex-basis: auto;            
        height:100vh;
    }
    #home, #listato{
        display:none;
    }       
}

@media (min-width:1024px){

    #first-icon, #second-icon{
        display:none;
    }

        #home a, #listato a{
        color:#000000;
        text-decoration: none;        
    }   

    .card-body{
        display:flex;
        
        /* flex-wrap: nowrap; */
    } 
    
} 

/********************CARD HOME***********************************/
.sr-card-home{
border:2px solid black;
background-color:#FFFFFF;
margin-bottom:48px;
overflow: hidden;
}
.sr-card-text{
    text-align: center;
    margin-top:26px;
    margin-bottom:40px; /*QUALCOSA LO ANNULLA!!*/
}

.sr-card-text a{
    color:#000000;  
    text-decoration: none;  
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16.41px;
}

.sr-card-text p{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14.6px;
}

.sr-card-text h1{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-size: 40px;
    line-height: 48px;
}

.icon-discover-selection{
    margin-left:10px;    
}

.sr-card-img{
    display:flex;
     width:100vh;
     /* overflow:hidden; */
    }
    
/********************CARD BODY*****************************/

.sr-card-body{   
    border: 2px solid black;
    background-color:#FFFFFF;
    margin-bottom:48px;
    text-align: center;
    overflow: hidden;   
    padding:0;   
}

.sr-card-body h2{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-style: normal;
    font-size:32px;
    line-height: 120%;
    text-align: left;
    margin-left: 24px;
}
.sr-card-body p, .description {
    text-align: left;
    margin-left: 24px;  
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-style: normal;
    font-size:12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    
}

.description{
    text-align: left;
    margin-left: 24px;
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.01em;
    
}

.sr-card-body .sr-card-text a{
    color: #FFFFFF;
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}


 .sr-card-body button {
    background-color: #000000;
    width:169.29px;
    height:48px;
    text-align: center;
    
}

#second-section .sr-card-body{
    flex-direction: row-reverse;
}

@media (min-width:767px){

    .sr-card-body{
         display: flex;
    }
    .sr-card-body .sr-card-text{
       /* text-align: center;
       margin:15% 5%; */
       
   
       
     
        
    }
     .sr-card-body img{
        width:100%;        
    } 
    
}

/**********************MENU SERVICE********************************************************/

#menu-service{
    display: flex;
    justify-content: space-around;
    height: 148px;
    background-color: #E5E5E5; /*#F5F5F5*/
}
#home-services .row p{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-weight:700;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
}


/*****************************FOOTER***********************************************************/

  footer .container{
     margin:0;  
    } 
    
    footer #first-area{
        height:458px; /*quando l'hai rimepito togli l'indicatore e usa le row e col.*/
        background-color: #FFFFFF;    
        /* display:flex; */
        /*text-align: center;*/     
    }
    footer #first-area ul{
        flex-direction :column;  
        list-style:none;
}
footer #first-area li a{
    text-align:center;
    margin:0 auto;
    color: #000000;
    /* text-decoration:none;
    list-style: none; */    
    
}
footer #copyright-stuff{
    background-color:#000000;
    display: flex;
    /* height: 110px ; sempre da scermo piccolo, poi togli perché anche questa è una row con text align center. */
}
footer #copyright-stuff ul li{ 
    list-style:none; 
}
footer #copyright-stuff li a{
    color: #F5F5F5;
}



@media (min-width:900px){
    footer .container{
        margin:0;
    }

    footer #copyright-stuff ul{
        display:flex;
        gap:8px;
        list-style:none; 
        height: 48px;
        align-items: center;
        margin:0 auto;
    }
    footer #copyright-stuff #legal-elements {
        display:flex;
        justify-content: space-around;
        gap:8px;
        /* margin:0; */
        /* list-style:none;  */
    }



}