html{
    box-sizing: border-box;   
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin:0;
    background-color:#E5E5E5;
}


/***************************DISCOUNT MESSAGE*************************************/
.screen-reader-only{
    display:none;
}

#discount-message{
    display:flex;
    width:100%;
    height:32px;
    background-color: #000000;
    /* text-align:center;  */
    justify-content: center;
    align-items: center;
    padding-right:2%;
    position:relative;
}
#discount-message span{  
    color: #FFFFFF;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;

}

#discount-message button{
position:absolute;
top:50%;
transform: translateY(-45%);  
appearance:none;
border:0;
background-color: transparent;
right:2.36625%;

}

#discount-message button svg{
    width:25px;
    color: #fff;
    
}

/*****************HEADER*****************************/

header{
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;  
    /* position:relative;   */

}

nav{
    margin-left:3%;
    
}

header .visual-icon, #written-icon {
    display:flex;
    gap:31px;
    list-style:none;
    margin:0 auto;
}


.screen-reader-only{
    display: none;
}

header #logo{
    margin:0 auto; 
    padding:20px 20px;
    border:#000000 dashed 3px;   
}

#written-icon{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/***********MEDIA*****************************/

 @media(max-width:1023px){

    .sr-card-img{
        flex-basis: auto;            
        height:100vh;
    }
    #home, #listato{
        display:none;
    }       
}

@media (min-width:1024px){

    #first-icon, #second-icon{
        display:none;
    }

        #home a, #listato a{
        color:#000000;
        text-decoration: none;        
    }   

    .card-body{
        display:flex;
    } 
    
} 

/********************CARD HOME***********************************/
.sr-card-home{
border:2px solid black;
background-color:#FFFFFF;
margin-bottom:48px;
overflow: hidden;
}
.sr-card-home .sr-card-text{
    text-align: center;
    margin-top:26px;
    margin-bottom:40px; 
}

 .sr-card-home .sr-card-text #tag{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

 .sr-card-text h1{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    line-height: 120%;
    margin-bottom:64px;
}

.sr-card-text a{
    color:#000000;  
    text-decoration: none;  
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.icon-discover-selection{
    margin-left:10px;    
}

.sr-card-img{
    display:flex;
     width:100vh;

    }

    .sr-card-text #big-screen-paragraph{
        display:none;
    }
    
     @media (min-width:900px){
     

         .sr-card-home .sr-card-img{
            position:relative;
            height:685px;
        } 
        .sr-card-home .sr-card-text{
            position:absolute;
            top:503px;
            left:40px;
            width: 532px;
            height:311px;
            margin:0;
            padding:40px;
           /* From https://css.glass */
            background: rgba(255, 255, 255, 0.75);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            border: 1px solid rgba(255, 255, 255, 0.3);
           text-align:left;
           display: flex;
           flex-direction: column;
           justify-content: center;
          
            
        }  

       
        .sr-card-text #big-screen-paragraph{
            display:block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em; 
            color:#000000;
            
        }
    } 
    
/********************CARD BODY*****************************/

.sr-card-body{   
    border: 2px solid black;
    background-color:#FFFFFF;
    margin-bottom:48px;
    text-align: center;
    overflow: hidden;   
    padding:0;   
}
.sr-card-body .sr-card-text{
    text-align:left;
    padding-left:50px;
    padding-right:50px;
   
}

.sr-card-body h2{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-style: normal;
    font-size:32px;
    line-height: 120%;
    margin-bottom:0;
}
.sr-card-body p {
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-style: normal;
    font-size:12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    padding-top:7.339%;
    padding-bottom:1.834%;
    
    
}


.sr-card-body .sr-card-text .description{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.01em;
   
    
}

.sr-card-body .sr-card-text a{
    color: #FFFFFF;
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    width:100vh;

}


 .sr-card-body button {
    background-color: #000000;
    width:169.29px;
    height:48px;
    text-align: center; 
    margin-bottom:7.339%;
    
}

#second-section .sr-card-body{
    flex-direction: row-reverse;
}

@media (min-width:767px){

    .sr-card-body{
         display: flex;
    }
    .sr-card-body .sr-card-text{
       margin: auto;
       width:50%;
       height:auto;
       display:block;
       /* overflow: hidden; */
        
    }

     .sr-card-body img{  
         /* display:flex;      */
        width:100%;
        height:auto;
        display:block;
        /* overflow: hidden; */
    } 
    
    .sr-card-body .sr-card-text p{
        padding-bottom:1.25%;
    }

    .description{
        padding:4% 0;
    }
    
}

/**********************MENU SERVICE********************************************************/

    #menu-service {
        display:flex;     
        align-items:center;
        justify-content: center;
        /* gap:5.125%; */
        gap:80px;
        margin:0 2.5%;

        /* padding-left:2.5%; */
        /* margin-left:40px; */
        background-color: #E5E5E5 ;
        height: 160px; /*#F5F5F5*/
    }

    /* .image-service path{
        align-items:center ;
    } */

        #menu-service {
            overflow-x:scroll;
            overflow-y:hidden;
        }
        
        #menu-service  li{
            list-style:none;
        }
  /* #menu-service{
     display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px; 
    background-color: #E5E5E5; /*#F5F5F5*/
/*} 

#home-services .container{
    text-align: center;
}*/
#home-services p{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-weight:700;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
 }  



/*****************************FOOTER***********************************************************/

    
    footer #first-area{
        background-color: #FFFFFF;
        text-align:center;

    }

    footer #first-area h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style:bold;
        font-size:24px;
        line-height: 28px;
        padding-top:8.94%;
        padding-left:6%;
        text-align: left;
        margin-bottom:0;
       

    }

 
    footer #first-area input::placeholder{
        font-family:'Roboto', sans-serif;
        font-style:normal;
        font-weight:400;
        font-size:16px;
        line-height: 19px;
        letter-spacing:0.01rem;
        color:#6B6B6B;
        /* width:100%; */
        /* max-width:117px; */
       
    }

    footer #first-area p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style:normal;
        font-size:16px;
        line-height: 19px;
        letter-spacing: 0.01rem;
        color:#6B6B6B;
        padding-left:6%;
        padding-right:6%;
        padding-bottom: 11.18%;
    }

    footer #first-area .option-list{
        font-family: 'Roboto';
        font-style: bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        padding-bottom:0;
        text-align: left;
        padding-bottom:21px;
        
    }

    footer #first-area ul{
        flex-direction :column;  
        list-style:none;
        text-align: left;
    }

    footer #first-area li{
        padding-bottom:3.49%; 
    }

    footer #first-area li a{
        text-align:center;
        margin:0 auto;
        color: #000000;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;  
           
    }
    footer #send-form{
        text-align:left;


    }

    footer input{
        border:0;
        border-bottom:2px solid #000;
        width:310px;
        padding-left:6.4%;
    }

        footer #first-area button{
            margin-top:8.948%;
            background-color: #9D9D9D;
            width: 120px;
            height: 48px;
            font-family: 'Roboto',sans-serif;
            font-weight: 700;
            font-style: bold;
            font-size:14px;
            line-height: 16px;
            text-align: right;
            color:#FFFFFF;
            text-transform:uppercase;
            border:none;            
            text-align:center;
            
        }

        footer  #form-area p{
            padding-bottom:13.33333%;
            margin-bottom:0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #9D9D9D;
            text-align: left;
            margin-top:0;
        }

        footer  #follow-us-on{
            background-color:#FFFFFF;
            text-align:center;
            /* padding-bottom:50px; */
        }

        footer #follow-us-on h3{
           font-family: 'Roboto';
           font-style: normal;
           font-weight: 800;
           font-size: 14px;
           line-height: 16px;
           align-items: center;
           letter-spacing: 0.1em;
        }

        footer #follow-us-on ul{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            list-style:none ;
            margin-bottom:0;
        }
        

    footer #copyright-stuff{
        background-color:#000000;
        text-align:center;
    }
    footer #copyright-stuff ul li{ 
        list-style:none; 
    }
    footer #copyright-stuff li a{
        color: #F5F5F5;
    }
    footer #copyright-stuff #copiright{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 140%;
    }
    footer #copyright-stuff #legal-elements{
        text-align: center;
        display:flex;
        gap:8px;
        justify-content: space-around;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 140%;
    }



@media (min-width:767px){
    footer .container{
        margin:0;
    }

    footer #first-area{
        padding-top:82px;
    }
    
    footer  #form-area{
        padding-right:11.25%;
        padding-bottom:64px;
        padding-left:11.25%;
    }
            
     footer #first-area #form-and-send{
        display:flex;
        gap:16px;
        padding-bottom:8.95%;
    } 

   
    footer #first-area button{
        margin-top:0;
    }

    footer  #follow-icons #follow-us-on{
        display:flex; 
        padding-left:35%; 
        padding-bottom:28px;
    }


    footer #copyright-stuff ul{
        text-align:center;
        display:flex;
        gap:8px;
        list-style:none; 
        height: 48px;
        align-items: center;
        margin:0 auto;
        padding-left:33%; 
    }
    footer #copyright-stuff #legal-elements {
        display:flex;
        justify-content: space-around;
        gap:8px;
    }
    
}