html{
    box-sizing: border-box;   
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin:0;
    background-color:#E5E5E5;
}


/***************************DISCOUNT MESSAGE*************************************/
.screen-reader-only{
    display:none;
}

#discount-message{
    width:100%;
    height:32px;
    background-color: #000000;
    text-align:center; 
    position:relative;
    padding-right:2%;
    /* margin: auto auto; */
}
#discount-message span{  
    /* margin-left:6.4%;   */ /*per schermo telefono*/
    /* margin-top:12.5px;
    margin-left:9.44881889763%; per chermo telefono */
    /* position: absolute;
width: 308px;
height: 17px;
right: 646px;
top: 8px;  */
    color: #FFFFFF;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;

}

#discount-message button{
position:absolute;
top:50%;
transform: translateY(-55%);  
appearance:none;
border:0;
background-color: transparent;
padding-left:35%;

}

#discount-message button svg{
    width:25px;
    color: #fff;
    
}

/*****************HEADER*****************************/

header{
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;    
    /* height: 97px;   */
}

nav{
    margin-left:3%;
}

header .visual-icon, #written-icon {
    display:flex;
    gap:31px;
}


.screen-reader-only{
    display: none;
}

header #logo{
    margin:0 auto; 
    padding:20px 20px;
    border:#000000 dashed 3px;   
}

#written-icon{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/***********MEDIA*****************************/

 @media(max-width:1023px){

    .sr-card-img{
        flex-basis: auto;            
        height:100vh;
    }
    #home, #listato{
        display:none;
    }       
}

@media (min-width:1024px){

    #first-icon, #second-icon{
        display:none;
    }

        #home a, #listato a{
        color:#000000;
        text-decoration: none;        
    }   

    .card-body{
        display:flex;
        
        /* flex-wrap: nowrap; */
    } 
    
} 

/********************CARD HOME***********************************/
.sr-card-home{
border:2px solid black;
background-color:#FFFFFF;
margin-bottom:48px;
overflow: hidden;
}
.sr-card-home .sr-card-text{
    text-align: center;
    margin-top:26px;
    margin-bottom:40px; /*QUALCOSA LO ANNULLA!!*/
}

 .sr-card-home .sr-card-text #tag{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

 .sr-card-text h1{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    line-height: 120%;
}

.sr-card-text a{
    color:#000000;  
    text-decoration: none;  
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.icon-discover-selection{
    margin-left:10px;    
}

.sr-card-img{
    display:flex;
     width:100vh;
     /* overflow:hidden; */
    }

    .sr-card-text #big-screen-paragraph{
        display:none;
    }
    
     @media (min-width:900px){
     

         .sr-card-home .sr-card-img{
            position:relative;
            height:685px;
        } 
        .sr-card-home .sr-card-text{
            position:absolute;
            top:503px;
            left:40px;
            width: 532px;
            height:311px;
            margin:0;
            padding:40px;
           /* From https://css.glass */
            background: rgba(255, 255, 255, 0.75);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            border: 1px solid rgba(255, 255, 255, 0.3);
           text-align:left;
           /* bottom: 0; */
           display: flex;
           flex-direction: column;
           justify-content: center;
          
            
        }  

        /* .sr-card-text h1{
            padding-bottom:64px;
        }

        .sr-card-home .sr-card-text #tag{
            padding-top:40px;
            padding-bottom:10px; 
        } */
        .sr-card-text #big-screen-paragraph{
            display:block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em; 
            color:#000000;
            
        }
    } 
    
/********************CARD BODY*****************************/

.sr-card-body{   
    border: 2px solid black;
    background-color:#FFFFFF;
    margin-bottom:48px;
    text-align: center;
    overflow: hidden;   
    padding:0;   
}
.sr-card-body .sr-card-text{
    text-align:left;
    padding-left:50px;
    padding-right:50px;
   
}

.sr-card-body h2{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-style: normal;
    font-size:32px;
    line-height: 120%;
    /* text-align: left; */
    /* margin-left: 24px; */
    /* padding-bottom: 24px; */
}
.sr-card-body p {
    /* text-align: left; */
    /* margin-left: 24px;   */
    /* font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-style: normal;
    font-size:12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    
}




.sr-card-body .sr-card-text .description{
    /* text-align: left; */
    /* margin-left: 24px; */
    /* font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.01em;
   
    
}

.sr-card-body .sr-card-text a{
    color: #FFFFFF;
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    width:100vh;

}


 .sr-card-body button {
    background-color: #000000;
    width:169.29px;
    height:48px;
    text-align: center; 
    
}

#second-section .sr-card-body{
    flex-direction: row-reverse;
}

@media (min-width:767px){

    .sr-card-body{
         display: flex;
    }
    .sr-card-body .sr-card-text{
       /* text-align: center; */
       /* margin:15% 5%; */
       margin: auto;
       width:50%;
        
    }

     .sr-card-body img{
        /* width:100%;         */
        width:100%;
        overflow: hidden;
    } 
    
    .sr-card-body .sr-card-text p{
        padding-bottom:1.25%;
    }

    .description{
        padding:4% 0;
    }

    /* .sr-card-body button {
     
        
    } */
    
}

/**********************MENU SERVICE********************************************************/

#menu-service{
    display: flex;
    justify-content: space-around;
    height: 148px;
    background-color: #E5E5E5; /*#F5F5F5*/
}
#home-services .row p{
    font-family: 'BioRhyme', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-weight:700;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
}



/*****************************FOOTER***********************************************************/

  /* footer .container-2{
     margin:0;  
     padding:0;
    }  */
    
    footer #first-area{
        background-color: #FFFFFF;
        text-align:center;

        /* padding-top:40px;
        padding-left:24px; */
         
        /* margin:0;   */
    }

    footer #first-area h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style:bold;
        font-size:24px;
        line-height: 28px;
        /* padding-bottom:47px; */
       

    }

    /* footer #first-area input{
        height: 19px;
    } */

    footer #first-area input::placeholder{
        font-family:'Roboto', sans-serif;
        font-style:normal;
        font-weight:400;
        font-size:16px;
        line-height: 19px;
        letter-spacing:0.01rem;
        color:#6B6B6B;
       
    }

    footer #first-area p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style:normal;
        font-size:16px;
        line-height: 19px;
        letter-spacing: 0.01rem;
        color:#6B6B6B;
        padding-bottom: 50px;
    }

    footer #first-area .option-list{
        font-family: 'Roboto';
        font-style: bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        padding-bottom:0;
        text-align: left;
        padding-bottom:21px;
        
    }

    footer #first-area ul{
        flex-direction :column;  
        list-style:none;
        text-align: left;
    }

    footer #first-area li{
        padding-bottom:16px; 
    }

    footer #first-area li a{
        text-align:center;
        margin:0 auto;
        color: #000000;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;  
           
    }
    footer #send-form{
        text-align:left;
        padding-left:6%;

    }

    footer input{
        border:0;
    }

        footer #first-area button{
            margin-top:40px;
            margin-bottom: 24px;
            background-color: #9D9D9D;
            width: 120px;
            height: 48px;
            font-family: 'Roboto',sans-serif;
            font-weight: 700;
            font-style: bold;
            font-size:14px;
            line-height: 16px;
            text-align: right;
            color:#FFFFFF;
            text-transform:uppercase;
            border:none;
            text-align:center;
        }

        footer #follow-us-on{
            background-color:#FFFFFF;
            text-align:center;
        }

        footer #follow-us-on h3{
           font-family: 'Roboto';
           font-style: normal;
           font-weight: 800;
           font-size: 14px;
           line-height: 16px;
           align-items: center;
           letter-spacing: 0.1em;
        }

        footer #follow-us-on ul{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            list-style:none ;
        }
        

    footer #copyright-stuff{
        background-color:#000000;
        text-align:center;
    }
    footer #copyright-stuff ul li{ 
        list-style:none; 
    }
    footer #copyright-stuff li a{
        color: #F5F5F5;
    }
    footer #copyright-stuff #copiright{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 140%;
    }
    footer #copyright-stuff #legal-elements{
        text-align: center;
        display:flex;
        gap:8px;
        justify-content: space-around;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 140%;
    }



@media (min-width:767px){
    footer .container{
        margin:0;
    }

    footer #first-area{
        padding-top:82px;
    }
    
    footer  #form-area{
        padding-right:11.25%;
        padding-bottom:64px;
        padding-left:11.25%;
    }
    footer  #form-area p{
        padding-bottom:0;
        margin-bottom:0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #9D9D9D;
        text-align: left;


    }
        
     footer #first-area #form-and-send{
        display:flex;
        gap:16px;
    } 

    /* footer hr{
        height: 2px;
        border:10px solid black;
        width:20px;
        color:#000000;
    } */

    footer #first-area button{
        margin-top:0;
        /* margin-bottom:41px; */
    }

    footer  #follow-icons #follow-us-on{
        display:flex; 
        padding-left:35%; 
        padding-bottom:28px;
    }


    footer #copyright-stuff ul{
        text-align:center;
        display:flex;
        gap:8px;
        list-style:none; 
        height: 48px;
        align-items: center;
        margin:0 auto;
        padding-left:33%; 
    }
    footer #copyright-stuff #legal-elements {
        display:flex;
        justify-content: space-around;
        gap:8px;
        /* margin:0; */
        /* list-style:none;  */
    }
    



}