@charset "UTF-8";
/*******Variables*************/
/********FONT-FAMILY************/
/********FONT-STYLE**************/
/*******FONT-SIZE**************/
/*****COLORS*************/
/***********IMAGE********/
/***********MIXIN************/
/*********TYPOGRAPHY****************/
/*********Generals***********/
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #E5E5E5;
}

button svg {
  vertical-align: middle;
  display: inline-block;
}

/***************************DISCOUNT MESSAGE*************************************/
.screen-reader-only {
  display: none;
}

#discount-message {
  display: flex;
  width: 100%;
  height: 32px;
  background-color: #000000;
  /* text-align:center;  */
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  position: relative;
}

#discount-message span {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.1em;
}

#discount-message button {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  appearance: none;
  border: 0;
  background-color: transparent;
  right: 2.36625%;
}

#discount-message button svg {
  width: 25px;
  color: #fff;
}

/*****************HEADER*****************************/
.screen-reader-only {
  display: none;
}

header {
  background-color: #FFFFFF;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 100px;
  /* position:relative;   */
}

header h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

header .visual-icon,
header #written-icon {
  display: flex;
  gap: 31px;
  list-style: none;
  margin: 0 auto;
}

header #logo {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  border: #000000 dashed 3px;
}

header #written-icon {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

nav {
  margin-left: 3%;
}

/***********MEDIA*****************************/
@media (min-width: 319px) {
  .sr-card-img {
    flex-basis: auto;
    height: 100vh;
  }
  #home,
  #listato {
    display: none;
  }
  #screen-sm {
    display: none;
  }
  #screen-md {
    display: block;
  }
}

@media (min-width: 767px) {
  #home,
  #listato {
    display: block;
  }
  ul.visual-icon {
    display: none;
  }
  #written-icon a {
    text-decoration: none;
    color: #000000;
  }
}

/*************TITLE********************/
#title {
  background-color: #FFFFFF;
}

#title h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  padding-top: 24px;
  padding-right: auto;
  padding-bottom: 24px;
  padding-left: 6.4%;
  margin: 0;
}

@media (min-width: 767px) {
  #title {
    height: 6.75rem;
  }
  #title h1 {
    text-align: center;
  }
}

/*************ACQUISTO-CARD**********/
.card-product-to-shop {
  background-color: #E5E5E5;
  position: relative;
}

.card-product-to-shop #image-to-pay {
  display: flex;
  overflow-x: scroll;
}

.card-product-to-shop #image-to-pay img {
  width: 100%;
}

.card-product-to-shop #image-to-pay button.favorite {
  border: transparent;
  background-color: transparent;
  position: absolute;
  top: 4.8%;
  right: 6.933333%;
}

.card-product-to-shop #image-to-pay button.favorite svg {
  height: 20px;
  width: 20px;
}

.card-product-to-shop #image-to-pay a.turn-back {
  position: absolute;
  top: 4.8%;
  left: 6.933333%;
}

.card-product-to-shop #text-to-pay {
  margin-left: 6.382978%;
  margin-bottom: 2rem;
}

.card-product-to-shop #text-to-pay h2.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}

.card-product-to-shop #text-to-pay p.product-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.card-product-to-shop #text-to-pay .actual-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
}

.card-product-to-shop #text-to-pay .discount-percentage {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
}

.card-product-to-shop #text-to-pay .original-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-decoration: line-through;
}

.card-product-to-shop #text-to-pay .prices {
  margin-bottom: 13.397129%;
}

.card-product-to-shop #text-to-pay .add-to-cart {
  display: flex;
  background-color: #000000;
  margin-right: 7.31707%;
  justify-content: center;
  gap: 3.6585%;
  height: 3rem;
}

.card-product-to-shop #text-to-pay .add-to-cart p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.card-product-to-shop #text-to-pay button.add-to-shop-btn {
  border: transparent;
  background-color: transparent;
}

.card-product-to-shop #text-to-pay .favorite-to-shop {
  display: none;
}

@media (min-width: 767px) {
  .card-product-to-shop {
    display: grid;
    grid-template-columns: 66% 34%;
  }
  .card-product-to-shop #image-to-pay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E5E5E5;
  }
  .card-product-to-shop button.favorite,
  .card-product-to-shop a.turn-back {
    display: none;
  }
  .add-to {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .add-to .add-to-cart {
    margin-right: 0px;
    /*i primi tre funzionano da console ma non da qui*/
    height: 4rem;
    /*non funziona*/
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
  }
  .add-to .favorite-to-shop {
    display: block;
    /*non funziona*/
    background-color: #000000;
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin: auto;
  }
  .add-to .favorite-to-shop svg {
    margin-top: 20px;
    /*da allineare meglio, in modo più intelligente*/
  }
}

/*****************LISTATO-INFO-TO-SHOP*************/
.listato-info-to-shop {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  background-color: #E5E5E5;
}

.listato-info-to-shop button.collapsible {
  display: flex;
  border: none;
  justify-content: space-between;
  background-color: #F5F5F5;
}

.listato-info-to-shop span {
  padding-right: 2.547%;
  margin-top: auto;
  margin-bottom: auto;
}

.listato-info-to-shop ul {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.listato-info-to-shop h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  margin-left: 2.6578%;
}

.listato-info-to-shop li {
  list-style-type: none;
}

.listato-info-to-shop li p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  background-color: #E5E5E5;
  margin-left: 1.531rem;
  margin-right: 1.469rem;
}

@media (min-width: 767px) {
  .listato-info-to-shop {
    margin-bottom: 5rem;
    margin: 2.5rem 5.063rem 5rem 5.063rem;
    width: 50%;
  }
}

/***********MENU-SERVICE***************/
/**********************MENU SERVICE********************************************************/
#menu-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 0 2.5%;
  background-color: #E5E5E5;
  height: 160px;
  /*#F5F5F5*/
  overflow-x: scroll;
  overflow-y: hidden;
}

#menu-service li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-service li a {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
}

#menu-service p {
  font-family: 'BioRhyme', serif;
  font-family: 'Luxurious Roman', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}

/*****************************FOOTER***********************************************************/
footer {
  /****************FIRST-AREA*******************/
  /*************COL-SM-3**********************/
  /***************CONTENT**********************/
  /*********SEND-FORM***************/
  /*******INPUT********/
  /***********FORM*********/
  /**************FORM-AREA************/
  /**********FOLLOW-ICONS**************/
  /*************FOLLOW-US-ON************/
  /***********COPYRIGHT-STUFF***************/
}

footer #first-area {
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

footer #first-area h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  line-height: 28px;
  padding-top: 8.94%;
  padding-left: 6%;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 8.94%;
  color: #000000;
}

footer #first-area input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01rem;
  color: #6b6b6b;
  /* width:100%; */
  /* max-width:117px; */
}

footer #first-area p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01rem;
  color: #6b6b6b;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 11.18%;
}

footer #first-area .option-list,
footer #first-area ul,
footer #first-area li,
footer #first-area li a {
  display: none;
}

footer .col-sm-3 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

footer .col-sm-3 button {
  display: flex;
  border: none;
  /* position:relative; */
}

footer .col-sm-3 button .collapsible #may-we-help-you,
footer .col-sm-3 button .collapsible #company {
  background-color: #f5f5f5;
  color: #000000;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.01em;
  margin: 0;
}

footer .col-sm-3 span {
  padding-right: 6.666%;
  padding-left: 8.8%;
  margin: auto 0;
}

footer .col-sm-3 svg {
  margin: auto;
  margin-right: 0;
}

footer .col-sm-3 h3 {
  margin: 0;
  color: #000000;
  padding: 1.2rem 0;
}

footer .content ul {
  padding: 0;
  margin: 0;
}

footer .content li {
  padding: 0 18px;
  /* display: none; */
  overflow: hidden;
  background-color: #f1f1f1;
  list-style: none;
}

footer .content li a {
  text-decoration: none;
  color: #000;
}

footer #send-form {
  text-align: left;
}

footer input {
  border: 0;
  border-bottom: 2px solid #000;
  width: 298px;
  padding-bottom: 18.05px;
  /* padding-left:6.4%; */
}

footer form {
  padding-left: 6%;
}

footer form button {
  margin-top: 8.948%;
  background-color: #9d9d9d;
  width: 120px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  text-align: center;
  margin-bottom: 5.36%;
}

footer form button .plus {
  justify-content: right;
  margin-left: auto;
}

footer #form-area p {
  padding-bottom: 13.33333%;
  margin-bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #9d9d9d;
  text-align: left;
  margin-top: 0;
}

footer #form-and-send {
  text-align: left;
}

footer #follow-icons {
  margin: 0;
}

footer #follow-us-on {
  background-color: #ffffff;
  text-align: center;
  /* padding-bottom:10%;
            padding-top:2%; */
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

footer #follow-us-on h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.1em;
  margin: 0;
  color: #000000;
}

footer #follow-us-on ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 91px;
  margin: 0;
}

footer #copyright-stuff {
  background-color: #000000;
  padding-left: 0;
  justify-content: center;
}

footer #copyright-stuff ul {
  margin: 0;
  padding: 0;
}

footer #copyright-stuff ul #copyright {
  text-align: center;
}

footer #copyright-stuff ul li {
  list-style: none;
}

footer #copyright-stuff ul a {
  color: #f5f5f5;
  text-decoration: none;
}

footer #copyright-stuff #copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  padding-top: 32px;
}

footer #copyright-stuff #legal-elements {
  text-align: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  padding-bottom: 50px;
}

@media (min-width: 767px) {
  footer {
    /**********FOLLOW-ICONS-LG****************/
    /*********COPYRIGHT-STUFF-LG**************/
  }
  footer #follow-icons {
    margin: 0;
  }
  footer #follow-icons #follow-us-on {
    display: flex;
    justify-content: center;
  }
  footer #follow-icons #follow-us-on h3 {
    padding: 0;
    font-size: 16px;
    line-height: 19px;
  }
  footer #follow-icons #follow-us-on ul {
    padding-bottom: 0;
    gap: 30px;
    padding-left: 28px;
    margin-bottom: 48px;
  }
  footer #copyright-stuff ul {
    text-align: center;
    display: flex;
    gap: 8px;
    list-style: none;
    height: 48px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  footer #copyright-stuff #copyright {
    padding: 0;
  }
  footer #copyright-stuff #legal-elements {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    padding: 0;
  }
}

@media (min-width: 1023px) {
  footer {
    /***********FIRST-AREA-LG************************/
  }
  footer #first-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
  footer #form-area {
    margin-right: 11.25%;
    margin-left: 22.5%;
  }
  footer .col-sm-3 {
    display: none;
  }
  footer #first-area input {
    width: 500px;
  }
  footer #first-area .option-list {
    display: block;
    font-family: "Roboto";
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    padding-bottom: 0;
    text-align: left;
    padding-bottom: 21px;
  }
  footer #first-area ul {
    display: block;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
  }
  footer #first-area li {
    display: block;
    padding-bottom: 3.49%;
  }
  footer #first-area li a {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-decoration: none;
  }
  footer #first-area svg {
    margin-right: 6.25%;
  }
  footer #first-area #form-and-send {
    display: flex;
    gap: 16px;
    padding-bottom: 8.95%;
  }
  footer #first-area button {
    margin-bottom: 0;
  }
}
