html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

button svg {
    vertical-align: middle;
    display: inline-block;
}