
#title {
  background-color: $secondary-color;

  h1 {
    @include font($sm-size, 32px, 120%);
    padding-top: 24px;
    padding-right:auto;
    padding-bottom: 24px;
    padding-left: 6.4%;
    margin:0;
  }
}

@media (min-width:767px){
  #title{
    height:6.75rem;
    // padding-top:3.5rem;

    h1{
      text-align: center;
    }
  }
}