/********FONT-FAMILY************/
$main-font: Roboto;

/********FONT-STYLE**************/
$main-style:normal;
$secondary-style:bold;
$third-style:regular;
$unusual-style:medium;


/*******FONT-SIZE**************/
$sm-size:400;
$md-size:500;
$lg-size:700;
$xl-size:800;

/*****COLORS*************/
$main-color:#000000;
$secondary-color: #FFFFFF;

//mettili anche nella prima pagina come var.

/***********IMAGE********/
 $listato-img: "img/secondo tentativo/fragola-quadrata-finale-webp-img.webp";

 