.card-product-to-shop{
    background-color: #E5E5E5;
    position: relative;
        #image-to-pay {
                display: flex;
                overflow-x: scroll;
        
                img {
                    width: 100%;
                }
        
                button.favorite {
                    @include buttons-style;                   
                    position: absolute;
                    top: 4.8%;                    
                    right: 6.933333%;
        
                    svg {
                        height: 20px;
                        width:20px;
                    }                     
                   
                }
                
                 a.turn-back {
                        position: absolute;
                        top: 4.8%;
                        left: 6.933333%;        
                    }
            }

            #text-to-pay {
                    margin-left: 6.382978%;   
                    margin-bottom: 2rem;                
                    
                    h2.name {
                        @include font($lg-size, 16px, 120%);
                    }
        
                    p.product-description {
                        @include font($sm-size, 14px, 16px);
                        letter-spacing: 0.01em;
                    }

                    .actual-price{
                        @include font($xl-size, 20px, 120%);
                    }

                    .discount-percentage{
                        @include font($lg-size, 16px, 170%);
                    }

                    .original-price{
                        @include font($sm-size, 16px, 170%);
                        text-decoration: line-through;
                    }

                    .prices{
                        margin-bottom: 13.397129%;
                    }

                    .add-to-cart{
                        display:flex;
                        background-color: $main-color;
                        margin-right:7.31707%;
                        justify-content: center;
                        gap:3.6585%;
                        height:3rem;
                       
                        p{
                            @include font($lg-size,16px,19px);
                            color:$secondary-color;
                        }
                    }

                    button.add-to-shop-btn{
                        @include buttons-style;
                    }

                    .favorite-to-shop{
                        @include not-showed;
                    }
                }

}

@media (min-width:767px){
.card-product-to-shop{
    display: grid;
        grid-template-columns: 66% 34%;
    #image-to-pay{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #E5E5E5;
    }

    button.favorite,
        a.turn-back{
            @include not-showed;
        }
    }


//card-text//
    .add-to{
        display:grid;
        grid-template-columns: 70% 30%;
        .add-to-cart{
            margin-right: 0px;  /*i primi tre funzionano da console ma non da qui*/
            height: 4rem;  /*non funziona*/
            align-items: center;
            justify-content: space-between;
            margin-right:0;
            
        }
                .favorite-to-shop {
               display: block; /*non funziona*/
               background-color:$main-color;
               width: 4rem;
               height:4rem;
               text-align: center;
               margin:auto;
               svg{
                   margin-top:20px; /*da allineare meglio, in modo più intelligente*/
               }
               }




    }


}
