/********************CARD HOME***********************************/
.sr-card-home {
    background-color: #FFFFFF;
    margin-bottom: 48px;
    overflow: hidden;

    img#img-md-screen{
       @include not-showed;
    }

    .sr-card-text {
       text-align: center;
       margin-top: 26px;
       margin-bottom: 40px;

        #tag {
                @include font($md-size,12px,14px);
                letter-spacing: 0.04em;
                margin-top:1.625rem;
                margin-bottom:0.5rem;
            }

         h1 {
            @include font($lg-size,40px,120%);
            // margin-bottom: 64px;
            margin-top:0;
            margin-bottom:0.5rem;
        }

         a {
            color: #000000;
           @include font($lg-size,14px,16px);
            letter-spacing: 0.05rem;
            text-decoration: none;

        }

        #big-screen-paragraph {
            @include not-showed;
        }
    }
}


.icon-discover-selection {
    margin-left: 10px;

    svg {
       vertical-align: middle;
       display: inline-block;    
    }
}

.sr-card-img {
    display: flex;
    width: 100vh;

}

 

@media (min-width:900px) {

    .sr-card-home{

        img{
            &#img-md-screen{
                display:block;
            }
    
            &#img-sm-screen{
                @include not-showed;
            }
        }

        .sr-card-img {
                position: relative;
                height: 685px;
            }

            .sr-card-text {
                position: absolute;
                top: 510px;
                left: 40px;
                width: 532px;
                height: 311px;
                margin: 0;
                padding: 40px;
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.75);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                        
                        margin-bottom: 4rem;
                    }

                    #tag {
                        margin-top: 2.5rem;
                        margin-bottom:0.625rem;
                    }

                    #big-screen-paragraph {
                        display: block;
                        @include font($sm-size,16px,19px);
                        letter-spacing: 0.01em;
                        color: #000000;
                        margin-top: 0;
                        margin-bottom: 2.563rem;

                    }

                    a#discover-card-home{
                        margin-top:0;
                        margin-bottom:2.5rem;
                    }


            }
    } 


    @supports (backdrop-filter: blur(20px)) {
        .sr-card-home .sr-card-text {
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
        }
    }  
}