/********************CARD HOME***********************************/
.sr-card-home {
    background-color: #FFFFFF;
    margin-bottom: 48px;
    overflow: hidden;

    img#img-md-screen{
       @include not-showed;
    }

    .sr-card-text {
       text-align: center;
       margin-top: 26px;
       margin-bottom: 40px;

        #tag {
                font-family: 'BioRhyme', serif;
                font-family: 'Luxurious Roman', cursive;
                font-family: 'Open Sans', sans-serif;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.04em;
            }

         h1 {
            font-family: 'BioRhyme', serif;
            font-family: 'Luxurious Roman', cursive;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            margin-bottom: 64px;
        }

         a {
            color: #000000;
            text-decoration: none;
            font-family: 'BioRhyme', serif;
            font-family: 'Luxurious Roman', cursive;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            font-size: 14px;
            letter-spacing: 0.05em;
        }

        #big-screen-paragraph {
            display: none;
        }
    }
}


.icon-discover-selection {
    margin-left: 10px;

    svg {
       vertical-align: middle;
       display: inline-block;    
    }
}

.sr-card-img {
    display: flex;
    width: 100vh;

}

 

@media (min-width:900px) {

    .sr-card-home{

        img#img-md-screen{
            display:block;
        }

        img#img-sm-screen{
            @include not-showed;
        }

        .sr-card-img {
                position: relative;
                height: 685px;
            }

            .sr-card-text {
                position: absolute;
                top: 510px;
                left: 40px;
                width: 532px;
                height: 311px;
                margin: 0;
                padding: 40px;
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.75);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                        margin-top: 3.21%;
                        margin-bottom: 64px;
                    }

                    #tag {
                        margin: 0;
                    }

                    #big-screen-paragraph {
                        display: block;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.01em;
                        color: #000000;
                        margin-top: 0;
                        margin-bottom: 41px;

                    }


            }
    } 


    @supports (backdrop-filter: blur(20px)) {
        .sr-card-home .sr-card-text {
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
        }
    }  
}