@import "../../src/scss/mixin";

.screen-reader-only {
   @include not-showed;
}


header {
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    height:65px;
    /* position:relative;   */

    h2{
        @include font($sm-size,19px,22px);
        letter-spacing: 0.01em;
    }

    .visual-icon,
        #written-icon {
            display: flex;
            gap: 31px;
            list-style: none;
            margin: 0 auto;
        }

         #logo {
            margin: 0 auto;
            padding-left: 10px;
            padding-right:10px;
            border: #000000 dashed 3px;
        }

        #written-icon {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
        }
}

nav {
    margin-left: 3%;
}
       


/***********MEDIA*****************************/


@media(min-width:319px) {


    #home,
    #listato {
        @include not-showed;
    }

        #screen-sm{
            @include not-showed;
        }

        #screen-md{
        display:block;

    }
}

@media (min-width:767px){

    header {
            height: 100px;
        }
    #home,
        #listato {
            display:block;
        }

        ul.visual-icon{
            @include not-showed;           
        }

        #written-icon{
            a {
                    text-decoration: none;
                    color: $main-color;
                }
        }
}