.listato{
    display:grid;
    grid-template-columns: 50% 50% ;
    background-color: #F5F5F5; 
    overflow: hidden;

    
    #item-17, #item-18{
        display:none;
    }
    
    .image{
        display:flex; 
        border-right:0.1rem solid #F5F5F5;
        position:relative;
    }
    img{
        width:100%;
    }

    button{
        border: none;       
        background-color: transparent;
        border:transparent ;
                &.favorite {
                    position: absolute;
                    top:4.8128%;
                    right:8%;
                    // right:5.5240%;
                    width: 12px;
                }
    }

    span{
        &.new{
                position: absolute;
                top:4.8128%;
                left:2.1390%;
                background-color: $secondary-color;
                width: 31px;
                text-align: center;
            }
        
            &.for-six {
                position: absolute;
                bottom:4%;
                left:2.1390%;
                background-color: $secondary-color;
                width:21px;
                text-align: center;
            }
    }
    .name{
        @include font($lg-size, 14px,16px);
    }
    .product-description{
        @include font($sm-size,14px,120%);
        margin-bottom:2.25rem;
    }
    .actual-price{
        @include font($xl-size,14px,16px);
        letter-spacing: -0.03em;
        margin-right:2%;
        margin-left:0.5rem;

        span{
            @include font($xl-size, 12px, 14px);
            letter-spacing: -0.03em;
        }
    }
    .original-price{
        @include font ($sm-size,10px,12px);
        text-decoration: line-through;
    }

    .prices{
        display:flex;
        background-color: $secondary-color ;
        margin:0 0.5rem 2.063rem 0.5rem;
        align-items: center;
    }

    button#add-to-shop {        
        background: transparent;
        margin:auto;
        margin-right:0;
        padding-right:8%;
        
    }
}

@media (min-width:767px){
    .listato {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            background-color: #F5F5F5;
            overflow: hidden;

            .actual-price {
                    @include font($xl-size, 14px, 200%);
                    span{
                    @include font($xl-size, 14px, 200%);
                    margin-right:0.5rem;
                    }
            }

            .original-price{
                 @include font ($sm-size,12px,230%);
            }

        button#add-to-shop {
                 @include not-showed;        
            }

                .prices {
                    background-color: #F5F5F5  ;
                }


                
                span {
                    &.new {
                        background-color: transparent;
                    }
                
                    &.for-six {
                        background-color: transparent;
                    }
                }

                &.listato--just-img{
                    display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        background-color: #F5F5F5;
                        row-gap: 67px;
                        overflow: hidden;

                        #item-17,
                            #item-18 {
                                display: block;
                            }
                        
                            button {
                        
                                &.favorite {
                                    @include not-showed;
                                }
                        
                            }
                        
                            span {
                                &.new {
                                    @include not-showed;
                                }
                        
                                &.for-six {
                                    @include not-showed;
                                }
                            }
                        
                            .name {
                                @include not-showed;
                            }
                        
                            .product-description {
                                @include not-showed;
                            }
                        
                            .actual-price {
                                @include not-showed;
                            }
                        
                            .original-price {
                                @include not-showed;
                            }
                        
                            .prices {
                                @include not-showed;
                            }
                        
                            button#add-to-shop {
                                @include not-showed;
                        
                            }
                    }
                    // .control-view button:active
                    
    }
}



