.listato{
    display:grid;
    grid-template-columns: 50% 50% ;
    background-color: #F5F5F5; 
    overflow: hidden;
    
    #item-17, #item-18{
        display:none;
    }
    
    .image{
        display:flex; 
        border-right:0.1rem solid #F5F5F5;
        position:relative;
    }
    img{
        width:100%;
    }

    button{
        border: none;
        &.new{
            position:absolute;
            transform:translateY(0.56rem);
            transform:translateX(4.2%);
            background-color: $secondary-color;
        }
        &.favorite{
            position:absolute;
            transform: translateY(9px);
            transform: translateX(130px);
            background-color: transparent;
        }
        &.for-six{
            position:absolute;
            transform:translateY(20px);
            transform: translateX(48px);
            background-color: $secondary-color;
        }
    }
    .name{
        @include font($lg-size, 14px,16px);
    }
    .product-description{
        @include font($sm-size,14px,120%);
        margin-bottom:2.25rem;
    }
    .actual-price{
        @include font($xl-size,14px,200%);
        letter-spacing: -0.03em;
        margin-right:2%;
    }
    .original-price{
        @include font ($sm-size,10px,12px);
        text-decoration: line-through;
    }

    .prices{
        display:flex;
        background-color: $secondary-color ;
    }

    button#add-to-shop {        
        background: transparent;
        
    }
}

@media (min-width:767px){
    .listato {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            background-color: #F5F5F5;
            overflow: hidden;
    }
}

@media (min-width:1023px){
    .listato {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            background-color: #F5F5F5;
            row-gap: 67px;
            overflow: hidden;

            #item-17,
                #item-18 {
                    display: block;
                }

                 button {
                     &.new {
                        @include not-showed
                     }
        
                     &.favorite {
                        @include not-showed
                     }
        
                     &.for-six {
                    @include not-showed
                     }
                 }
        
                 .name {
                    @include not-showed
                 }
        
                 .product-description {
                    @include not-showed
                 }
        
                 .actual-price {
                    @include not-showed
                 }
        
                 .original-price {
                    @include not-showed
                 }
        
                 .prices {
                    @include not-showed
                 }
        
                 button#add-to-shop{
                     @include not-showed
        
                 }
    }
}

