  .modal {
      display: none;
  }

  .modal.is-open {
      display: block;
  }

  .modal-backdrop {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .modal-wrapper {
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
  }
  .modal-1-title{
      margin: 0 10px 0 10px;
  }

  .modal-1-content {
      background-color: white;
    //   padding-left: 10px;
      text-align:center;
      padding-bottom: 10px;
  }

  .x-button{
      margin-right:10px;
      margin-left:10px;
      color:#FFFFFF;
      background-color: $main-color;
      
  }

  header {
      display: flex;
  }


   .newsletterContainer p{            
            display:none;                
    } 
  .newsletterContainer.subscribed p {
      display: block;
  }

 