
#n-results{
    background-color: #F5F5F5;
    
}

h3{
    @include font ($lg-size,14px,16px);
    letter-spacing: 0.05em;
    color: #6B6B6B;    
    padding-top: 7.2% ;
    padding-right:auto;
    padding-bottom:7.2%;
    padding-left: 6.4%;
    margin:0;
}


@media (min-width:767px){
    #n-results{
        height:70px;

        #screen-sm{
            @include not-showed;
        }
        #screen-md{
            display:flex;
            align-items: center;
        }
            h3{
                margin:auto;
                margin-right:2.6875%;
                padding:0;
            }
                button{
                    background-color: transparent;
                    border:none;
                    margin-left:2.625%;
                    
                }

            }
        }
   